#Mapping network drives by logon script when user is logged in
- name: Install active directory module for windows powershell feature
  win_feature:
    name: RSAT-AD-PowerShell
    state: present

- name: Create folder for logon script
  win_file:
    path: '{{ logon_scrips_path }}'
    state: directory

- name: Allow all users read and exectute files in logon script folder
  win_acl:
    path: '{{ logon_scrips_path }}'
    user: Everyone
    rights: ReadAndExecute
    type: allow
    state: present

- name: Copy logon script to server
  win_template:
    backup: no
    src: templates/network_drives_mapping.ps1.j2
    dest: '{{ logon_scrips_path }}/{{ logon_scrips_name }}'
  when: drive_mount == "all"

- name: Copy logon script to server
  win_template:
    backup: no
    src: templates/network_single_drive_mapping.ps1.j2
    dest: '{{ logon_scrips_path }}/{{ logon_scrips_name }}'
  when: drive_mount == "single"

###This task will be used only if the logon script is not run by domain GPO 
- name: Add logon script run to system registry
  win_regedit:
    path: HKLM:\Software\Microsoft\Windows\CurrentVersion\Run
    name: script
    data: 'powershell -File {{ logon_scrips_path }}\{{ logon_scrips_name }}'