# https://docs.ansible.com/ansible/latest/modules/list_of_windows_modules.html

# Software: Init
- name: Create directory for 3rd party software
  win_file:
    path: "{{ install_folder }}"
    state: directory
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Install Notepad++
  win_package:
    path: 'https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v{{ npp_version }}/npp.{{ npp_version }}.Installer.exe'
    arguments: '/S'
    product_id: 'Notepad++'
    state: present
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Get Details of 7zip Install file Information from jfrog Artifactory
  win_uri:
    url: '{{ jfrog_base_url }}/api/storage/{{ jfrog_repo }}/7zip?lastModified'
    username: "{{ jfrog_username }}"
    password: "{{ jfrog_password }}"
    force_basic_auth: "{{ force_basic_auth }}"
    method: GET
    status_code: "{{ status_code }}"
    return_content: "{{ return_content }}"
  register: result
  when: 7zip_version == "latest"

- name: Get the last_Updated version details from 7zip Information
  win_uri:
    url: "{{result.json.uri}}"
    username: "{{ jfrog_username }}"
    password: "{{ jfrog_password }}"
    force_basic_auth: "{{ force_basic_auth }}"
    method: GET
    status_code: "{{ status_code }}"
    return_content: "{{ return_content }}"
  register: download_uri
  when: 7zip_version == "latest"

- name: Download 7zip Software to Directory
  win_get_url:
    url: "{{ download_uri.json.downloadUri }}"
    username: "{{ jfrog_username }}"
    password: "{{ jfrog_password }}"
    dest: "{{ install_folder }}"
  when: 7zip_version == "latest"

- name: Download 7zip Software to Directory with version from jfrog artifactory
  win_get_url:
    url: "{{ jfrog_base_url }}/{{ jfrog_release_repo }}/7zip/{{ 7zip_version }}/{{ 7zip_filename }}"
    dest: '{{ install_folder }}\{{ 7zip_filename }}'
    username: "{{ jfrog_username }}"
    password: "{{ jfrog_password }}"
  when: 7zip_version != "latest"

- name: Install 7zip and use a file version for the installation check
  win_package:
    path: '{{ install_folder }}\{{ 7zip_filename }}'
    creates_path: '{{ app_base_path }}\{{ 7zip_filename }}'
    creates_version: 19.0
    state: present
  when: 7zip_version == "latest"

- name: Install 7zip and use a file version for the installation check
  win_package:
    path: '{{ install_folder }}\{{ 7zip_filename }}'
    creates_path: '{{ app_base_path }}\{{ 7zip_filename }}'
    creates_version: "{{ 7zip_version }}"
    state: present
  when: 7zip_version != "latest"
