# https://docs.ansible.com/ansible/latest/modules/list_of_windows_modules.html

- name: Ensure that Office 365 was installed or not
  win_shell: |
    $uninstallKeys = Get-ChildItem -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall"
    $O365 = "Office 16 Click-to-Run"
    $O365Check = $uninstallKeys | Where-Object { $_.GetValue("DisplayName") -match $O365 }
    if ($O365Check) { Write-Host "Installed" } else { Write-Host "Not installed" }
  register: Office_Installation_Status
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"
  vars:
    ansible_become: yes
    ansible_become_method: runas
    ansible_become_user: "{{ ansible_user }}"
    ansible_become_pass: "{{ ansible_password }}"

- name: Create installation directory for Office 365
  win_file:
    path: "{{ install_folder }}"
    state: directory
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Download installer (setup.exe) from Artifactory
  win_get_url:
    url: "{{ artifactory_url }}/artifactory/edg_legacy_us-diabloplus-generic-release-3rdparty-local/windowsmsoffice/setup.exe"
    dest: "{{ install_folder }}\\setup.exe"
    username: "{{ jfrog_username }}"
    password: "{{ jfrog_password }}"
  when:
  - Office_Installation_Status.stdout_lines[0] == "Not installed"
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Copy installconfig.xml template to install folder
  win_template:
    src: installconfig.xml.j2
    dest: "{{ install_folder }}\\installconfig.xml"
    force: yes
  when:
  - Office_Installation_Status.stdout_lines[0] == "Not installed"
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Office 365 - Download source files
  win_command: "{{ install_folder }}\\setup.exe /download {{ install_folder }}\\installconfig.xml"
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"
  when:
  - Office_Installation_Status.stdout_lines[0] == "Not installed"
  vars:
    ansible_become: yes
    ansible_become_method: runas
    ansible_become_user: "{{ ansible_user }}"
    ansible_become_pass: "{{ ansible_password }}"

- name: Office 365 - Install
  win_command: "{{ install_folder }}\\setup.exe /configure {{ install_folder }}\\installconfig.xml"
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"
  when:
  - Office_Installation_Status.stdout_lines[0] == "Not installed"
  vars:
    ansible_become: yes
    ansible_become_method: runas
    ansible_become_user: "{{ ansible_user }}"
    ansible_become_pass: "{{ ansible_password }}"
