---

- name: Create Destination directory
  win_file:
    path: "{{ dest_location }}"
    state: directory

#- name: Find gacutil.exe file
#  win_find:
#    paths: "{{ gac_base_path }}"
#    recurse: yes
#    patterns: [ '*gacutil.exe' ]
#  register: gacPath
#  retries: "{{ winrm_retry }}"
#  delay: "{{ winrm_retry_delay }}"

- name: Find gacutil.exe file
  win_shell: |
    $GacDir = Get-ChildItem -Path "{{ gac_base_path }}" -Recurse -Include 'gacutil.exe' | sort-object | Select-Object -ExpandProperty FullName -First 1
    if (! $GacDir) { Write-Host "Gacutil.exe was not found."; Exit(0) }
    if ($GacDir) { Split-Path -Path $GacDir -Parent }
  register: gacPath
  retries: "{{ winrm_retry }}"
  delay: "{{ winrm_retry_delay }}"

- name: Display gacutil not found message
  debug:
    msg: "No gacutil path found. Skipping dll deployment."
  when: "'Gacutil.exe was not found.' in gacPath.stdout_lines"

- name: Call Projects DLL Deploy Task
  include_tasks: deployCmasDll.yml
  with_items: '{{ project_name.split(",") }}'
  when: "'Gacutil.exe was not found.' not in gacPath.stdout_lines"
